.header {
    background-color: darkslategray;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pageTitle {
    padding: 0;
    margin: 0 0 0 2em;
    /* color: #DBCFB0  */
    color: white;
}